*{
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
}

body{
    background-color:#000 ;
    text-align: center;
    color: #fff;
    display: flex;
    justify-content: center;
    border-radius: 10px;
}
main{
    background-color: rgb(31,31,31);
    text-align: center;
    width: 30%;
    min-height: 60vh;
    border-radius: 20px;
    padding: 1rem 0rem;
   
}
p{
    color: greenyellow;
    font-size: 17px;
}
h3{
    font-size: 14px;
}
button{
    background-color: rgb(51,51,51);
    color: hsl(0, 0%, 100%);
    width: 80%;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    font-size:20px ;
    margin-top: 10px;
    border: 20px;
    height: 45px;
    
}
img{
    border-radius: 150px;
}
header{
    background-color: #000; 
    color: #fff;
    padding: 2rem 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}